body {
  background-color: #eda468b1;
}
.container-counter {
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
  width: 95%;
  height: 100vh;

  background-color: #8cb865ab;
  display: flex;
  justify-content: center;
}

.counter {
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
  width: 500px;
  margin: auto;
  padding: 30px;
  text-align: center;
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-1 {
  border: 3px solid rgb(0, 0, 0);
  border-color: bisque;
  border-radius: 10px;
  width: 200px;
  margin: auto;
  padding: 10px;
  text-align: center;
  background-color: #fbda61;
  background-image: linear-gradient(150deg, #fbda61 32%, #ff5ad5 100%);
}

.ipod {
  font-size: 100px;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
#music {
  display: none;
}
